<h2 style="  direction: rtl;">
    1 - 
آرایه زیر موجود است بزرگترین را بیابید
</h2>
n=[23, 3, 45, 96, 11, 7, 36, 9, 27, 85]

In [327]:
# without python function

n=[23, 3, 45, 96, 11, 7, 36, 9, 27, 85]
max_num = 0
for i in n:
    if i > max_num:
        max_num = i
print("largest number is : " , max_num)

largest number is :  96

<h2 style="direction: rtl;">
    2 - 
آرایه بالا را مرتب کنید
</h2>

In [328]:
def quicksort(xs):
    if xs:
        pivot = xs[0]
        below = [i for i in xs[1:] if i < pivot] 
        above = [i for i in xs[1:] if i >= pivot]
        return quicksort(below) + [pivot] + quicksort(above)
    else: 
        return xs
    
quicksort(n)

[3, 7, 9, 11, 23, 27, 36, 45, 85, 96]

In [329]:
def sort(array):
    less = []
    equal = []
    greater = []
    if len(array) > 1:
        pivot = array[0]
        for x in array:
            if x < pivot:
                less.append(x)
            elif x == pivot:
                equal.append(x)
            elif x > pivot:
                greater.append(x)
        return sort(less)+equal+sort(greater)
    else: 
        return array

In [330]:
sort(n)

[3, 7, 9, 11, 23, 27, 36, 45, 85, 96]

<h2 style="direction: rtl;">
3 - 
دهمین عدد فیبوناچی را بیابید
</h2>

In [331]:
def Fibonacci(n):
    if n<=0:
        print("Incorrect input")
    elif n==1:
        return 0
    elif n==2:
        return 1
    else:
        return Fibonacci(n-1)+Fibonacci(n-2) 

    
print(Fibonacci(10))

34

<h2 style="direction: rtl;">
4 - 
رشته زیر را برعکس کنید</h2>

In [332]:
Str='Semnan University'

def reverse(s): 
  str = "" 
  for i in s: 
    str = i + str
  return str

reverse(Str)

'ytisrevinU nanmeS'

In [333]:
#esay way
Str1='Semnan University'[::-1]
print(Str1)

ytisrevinU nanmeS

<h2 style="direction: rtl;">
5 - 
ب م م دوعدد زیر را بیابید</h2>

In [334]:
def greatestcommondivisor(a,b): 
    if(b==0): 
        return a 
    else: 
        return greatestcommondivisor(b,a%b) 
  
a = 654
b = 744

print("Greatest common divisor :",greatestcommondivisor(a,b))

Greatest common divisor : 6

<h2 style="direction: rtl;">
6 -
چهار عدد کامل بیابید
</h2>

In [335]:
def isPerfect( n ):       
    sum = 1      
    i = 2
    while i * i <= n: 
        if n % i == 0: 
            sum = sum + i + n/i 
        i += 1
    return (True if sum == n and n!=1 else False) 
  

print("Below are all perfect numbers till 10000") 
n = 0
i = 0
for n in range (10000): 
    if isPerfect (n):
        i = i+1
        print(str(i) + " - perfect unmber is " + str(n))

Below are all perfect numbers till 10000
1 - perfect unmber is 6
2 - perfect unmber is 28
3 - perfect unmber is 496
4 - perfect unmber is 8128

<h2 style="direction: rtl;">
7 -
چک کنید عدد اول است یا نه 
</h2>

In [336]:
def isprime(num):   
    if num > 1: 
        for i in range(2, num): 
            if (num % i) == 0: 
                num = False
                break
        else: 
            num = True
    else: 
        num = False
    return num
    
number = 23543

if isprime(number) is True:
    print(str(number)+" is a prime number")
else:
    print(str(number)+" is not a prime number")

23543 is not a prime number

<h2 style="direction: rtl;">
8 -
اعداد اول بین ۱۰۰۰ تا ۲۰۰۰ را چاپ کنید
</h2>

In [337]:
for i in range(1000,2000):
    if isprime(i) is True:
        print(i)

1009
1013
1019
1021
1031
1033
1039
1049
1051
1061
1063
1069
1087
1091
1093
1097
1103
1109
1117
1123
1129
1151
1153
1163
1171
1181
1187
1193
1201
1213
1217
1223
1229
1231
1237
1249
1259
1277
1279
1283
1289
1291
1297
1301
1303
1307
1319
1321
1327
1361
1367
1373
1381
1399
1409
1423
1427
1429
1433
1439
1447
1451
1453
1459
1471
1481
1483
1487
1489
1493
1499
1511
1523
1531
1543
1549
1553
1559
1567
1571
1579
1583
1597
1601
1607
1609
1613
1619
1621
1627
1637
1657
1663
1667
1669
1693
1697
1699
1709
1721
1723
1733
1741
1747
1753
1759
1777
1783
1787
1789
1801
1811
1823
1831
1847
1861
1867
1871
1873
1877
1879
1889
1901
1907
1913
1931
1933
1949
1951
1973
1979
1987
1993
1997
1999

<h2 style="direction: rtl;">
9 -
خروجی مطلوب را چاپ کنید
</h2>

In [338]:

def star(n):
    list = ['*'] * (n)
    b = 0
    for i in list:
        chap = ""
        print(chap.join(list))
        list[b] = "-"
        b = b+1


star(5)

*****
-****
--***
---**
----*

<h2 style="direction: rtl;">
10 -
در رشته زیر عمل جایگزینی را انجام دهید
</h2>

In [339]:
str2='Semnan University'
str3=""
string = list(str2)
result = []
for i in string:
        if i == 'e':
                i = 'zs'
        result.append(i)
str3 = str3.join(result)
print("Before = "+str2)
print("After = "+str3)

Before = Semnan University
After = Szsmnan Univzsrsity